.alpacaManagement {

  .headerRow {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .footerRow {
    padding: 20px;
  }

  .listItem {
    max-width: 715px;
    margin: 5px auto 5px auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
}

.alpacaFarm {
    max-width: 700px;
    height: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background: url('../assets/grass03.png');
}

  .alpaca {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url('../assets/alpaca.png');
    background-size: 25px 25px;
    cursor: 'move';
  }

  .spaceLettuce {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url('../assets/space-lettuce.png');
    background-size: 25px 25px;
  }

.alpacaCallout {
    max-width: 300px;
}

.alpacaCalloutHeader {
    padding: 18px 24px 12px;
  }

.alpacaCalloutTitle {
  font-size: large;
}

.alpacaCalloutBody {
  padding: 5px;
  text-align: center;
}

div[class*="beakCurtain_"] {
  background-color: transparent !important;
}

.alpacaCountCallout {
  width: 300px;
}

.alpacaCountCalloutHeader {
  margin: 0 auto;
}

.alpacaCountCalloutTitle {
  text-align: center;
  font-size: medium;
  margin: 5px;
}

.alpacaCountCalloutBody {
    width: 95%;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
}